<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396882908080-v9hjkgoot75ignul5dlqqj1btple32a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396882908080-v9hjkgoot75ignul5dlqqj1btple32a1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>396882908080-j0ntmh5epr9cdhurq6irjjng7spmhqcs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ9fg6e7-4xhfiif9ahtDE27ZXet5IkvU</string>
	<key>GCM_SENDER_ID</key>
	<string>396882908080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.yes-soft.swaptime</string>
	<key>PROJECT_ID</key>
	<string>yes-soft-6866a</string>
	<key>STORAGE_BUCKET</key>
	<string>yes-soft-6866a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396882908080:ios:ef28dbea3ee5458cfabc75</string>
	<key>DATABASE_URL</key>
	<string>https://yes-soft-6866a.firebaseio.com</string>
</dict>
</plist>