<div *ngIf="swapItems != null">
    <div *ngIf="swapItems.length !== 0">
      <div class="container-fluid">
        <h1 class="text-center my-4">Manage Swap Items Page</h1>
          <div class="row">
              <div class="col-7 col-md-6 col-xl-4">
                  <div class="form-group mb-4">
                      <input 
                        id="exampleFormControlInput2" 
                        [(ngModel)]="name" 
                        (keyup)="applyFilter()" 
                        type="text" 
                        placeholder="searching for Swap Items Name, User Name, Platform and Category Name ?" 
                        class="form-control form-control-underlined border-primary search-input">
                  </div>
              </div>
              <!-- <div class="col-5 col-md-6 col-xl-8 align-self-center">
                <a class="btn btn-primary btn-sm mb-2 float-right" routerLink="/animes/add">
                  <i class="fa fa-plus"></i>
                  Add New Swap Items
                </a>
              </div> -->
          </div>
        <div class="table-responsive text-center">
            <table class="table table-bordered main-table">
                <tr class="bg-dark text-white">
                    <td>#ID</td>
                    <td>Image</td>
                    <td>Name</td>
                    <td>User Name</td>
                    <td>Category Name</td>
                    <td>Description</td>                
                    <td>Comments Number</td>
                    <td>Platform</td>
                    <td>Control</td>
                </tr>
                <tr *ngFor="let swapItem of swapItemsFilterList | paginate: config">
                  <td>{{swapItem.id}}</td>
                  <td><img src="{{swapItem?.mainImage}}" alt="{{swapItem.name}} Image" class="img-thumbnail img-custom"></td>
                  <td>{{swapItem.name}}</td>
                  <td>{{swapItem.userName}}</td>
                  <td>{{swapItem.category}}</td>
                  <td>{{swapItem.description}}</td>
                  <td>{{swapItem.commentNumber}}</td>
                  <td>{{swapItem.platform ? swapItem.platform : '-' }}</td>
                  <td>
                      <a routerLink="/swap-item/view/{{swapItem.id}}" class="btn btn-success btn-sm mr-1 mb-1">
                        View
                      </a>
                      <a (click)="delete(swapItem.id)" class="btn btn-danger confirm btn-sm mr-1 mb-1 {{isDeleted ? 'disabled' : ''}}">
                        Delete
                      </a>
                  </td>
                </tr>
            </table>
            <pagination-controls class="my-pagination"
                                 (pageChange)="pageChanged($event)"
                                 autoHide="true"
                                 maxSize="5"
                                 responsive="true"
                                 previousLabel="Prev"
                                 nextLabel="Next"
                                 screenReaderPaginationLabel="Pagination"
                                 screenReaderPageLabel="page"
                                 screenReaderCurrentLabel="You're on page">
            </pagination-controls>
        </div>
      </div>
    </div>
    <div *ngIf="swapItems.length === 0">
        <div class="container">
            <div class="alert alert-primary text-center mt-5">There Isn't Swap Items To Show</div>
            <!-- <a routerLink="/swap/add" class="btn btn-primary btn-sm mb-2 float-right">
                <i class="fa fa-plus"></i>
                Add New Anime
            </a> -->
        </div>
    </div>
</div>
<div *ngIf="swapItems == null">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
